{% extends "base.html" %} {% block content %}
<h1>Welcome to Obras Madero !</h1>
<p>El Dia de hoy: {{today}}</p>
<a href="{% url 'obras.list' %}" class="btn btn-primary">Ver Obras>></a>
<p class="p-1">
  <span style="font-weight: bold">Nuestra misión:</span> Mejorar la calidad de
  vida de las Colonias y Comunidades, de nuestro Municipio de Madero a través de
  estrategias efectivas de Obras Públicas, Planificación y Urbanismo.
</p>
<p class="p-1">
  Nos esforzamos por crear entornos seguros, sostenibles y equitativos que
  promuevan el crecimiento económico y mejoren el bienestar de nuestros
  ciudadanos.
</p>
<p class="p-1">
  Esta Dirección de Obras Públicas, Planificación y Urbanismo, se dedica a
  brindar soluciones oportunas, innovadoras y rentables que satisfagan las
  necesidades cambiantes de nuestras diversas comunidades.
</p>

{% endblock %}
