{% extends "base.html" %} {% block content %}
<h1>Welcome to Obras Madero !</h1>
<p>El Dia de hoy: {{today}}</p>
<a href="{% url 'obras.list' %}" class="btn btn-primary">Ver Obras>></a>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aspernatur
  amet rerum, provident sit ipsam totam? Harum officiis alias, ullam voluptas
  tenetur quam autem doloremque expedita ad ex ipsam asperiores, voluptatibus
  tempore nulla similique repudiandae nihil. Doloremque, omnis, laborum velit
  amet sint quam exercitationem laboriosam voluptatibus aut ea deleniti
  voluptatum.
</p>

{% endblock %}
