<!-- Reference: https://www.youtube.com/watch?v=gXkqy0b4M5g -->
<!-- Este es el template que quedaria, como base HTML -->
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Obras Madero Michoacán" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/static/css_general/normalize.css" />
    <link rel="stylesheet" href="/static/css_general/rmr_styles_a.css" />
    <title>Obras Publicas Madero</title>
  </head>
  <body>
    <!-- Con ayuda de: https://www.youtube.com/watch?v=IgN1H1Em_Jo -->
    <!-- Reference: https://getbootstrap.com/docs/5.3/components/navbar/ -->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
          <a href="{% url 'home' %}" class="navbar-brand mb-0 h1"
            >Obras Madero
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'obras.list' %}"
                  >Obras 2023</a
                >
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link btn btn-outline-light me-1" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link btn btn-outline-light me-1" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
              

              
              <!--
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
              -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- Aqui Termina Navbar -->
      {% block content %} 
      {% endblock %}
      
      <footer class="footer bg-dark text-white">
        <div class="container text-center justify-content-center">
          <div class="row">
            <div class="col">
              <p>
                &copy; 2023 Derechos Reservados: by Ing. Ramón Montoya Ramirez
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col"><p>ramonmontoya@outlook.com</p></div>
            <div class="col"><p>Cel... 443 133 5141</p></div>
          </div>
        </div>
      </footer>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
